body {
    margin: 20px 200px;
    max-width: 1200px;
    background-color: none;
}

.heading h1 {
    margin: 0;
    padding: 30px 0;
}

h1,
h2 {
    padding: 20px 0;
    margin: 0;
}

.contact-details h2 {
    padding: 0px 0 20px 0;
    margin: 0;
}

h1 {
    font-family: "montserrat";
    font-size: 36px;
    line-height: 44px;
    color: #4E5150;
}

h3 {
    padding: 20px 0;
    margin: 0;
    font-family: "montserrat";
    font-size: 16px;
    line-height: 19px;
    width: 600;
    color: #4E5150;
}

.number {
    padding: 20px 0;
}

h2 {
    font-family: "montserrat";
    font-size: 18px;
    line-height: 22px;
    width: 600;
    color: #333333;
}

p {
    padding: 0;
    margin: 0;
    font-family: "montserrat";
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    padding-bottom: 10px;

}

.placeholder {
    font-family: "montserrat";
    font-size: 16px;
    line-height: 20px;
    width: 600;
    color: #828282;
}

.information {
    width: 100%;
}

.save {
    font-family: "montserrat";
    font-size: 12px;
    line-height: 15px;
    width: 600;
    color: #4F4F4F;
}


.shipping-address input,
.information input {
    width: 80%;
    padding: 15px 15px 15px 40px;
    border: none;
    border: 2px solid #828282;
    border-radius: 18px;
    outline: 0;
}

.save input {
    width: auto;
}

span {
    color: #F2994A;

}

s {
    color: #000;
    padding-left: 8px;
}

.state {
    padding-top: 20px;
    display: flex;
}

.get,
.code {
    width: 49%;
}

.email,
.phone,
.full-name,
.address,
.city,
.country,
.postal-code {
    position: relative;
}

.address,
.city {
    padding-top: 20px;
}

form {
    padding-bottom: 20px;

}

.phone {
    padding-top: 20px;
}

i.fa.fa-envelope {
    position: absolute;
    top: 40px;
    left: 12px;
}

i.fa.fa-phone {
    position: absolute;
    top: 60px;
    left: 15px;
    font-size: 20px;
}

i.fa.fa-user-circle {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 20px;
}

i.fa.fa-home {
    position: absolute;
    top: 58px;
    left: 10px;
    font-size: 20px;
}

i.fa.fa-building {
    position: absolute;
    left: 12px;
    top: 60px;
    font-size: 20px;
}

i.fa.fa-globe {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 20px;
}

span.material-icons {
    left: 10px;
    color: black;
    position: absolute;
    top: 14px;
    font-size: 20px;
}

.shipping {
    width: 55%;
}

.ecommerce {
    display: flex;
}

.save {
    padding-top: 15px;
}

.vintage-backbag,
.levi-shoes {
    display: flex;

}

.shipping-value,
.total-value {
    display: flex;
    justify-content: space-between;
}

.information {
    padding-bottom: 30px;
}

.products {
    background-color: #F2F2F2;
    width: 40%;
    max-height: 550px;
}

.products img {
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
}

.name {
    padding: 5px 0 0 0;
}

.value {
    padding: 20px;
}

.name input {
    width: 45%;
}

.products input {
    width: 30%;
    padding: 10px 10px 10px 20px;
    border: none;
    border: 2px solid #828282;
    border-radius: 13px;
    text-align: center;
    outline: 0;
}

.value p {
    font-family: "montserrat";
    font-size: 18px;
    line-height: 18px;
    width: 600;
    color: #333333;
    padding-bottom: 10px;
}

.continue {
    width: 88%;
}

a {
    background-color: #F2994A;
    padding: 18px 35px;
    border-color: #F2994A;
    border-radius: 15px;
    float: right;
    text-decoration: none;
    color: #FFFFFF;
}

.country,
.postal-code {
    width: 78%;
}

.value span {
    color: #333333;
}

.footer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    padding-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 1090px) {
    body {
        width: auto;
        margin: 0px 60px;
        background-color: none;
    }

    .shipping {
        width: 60%;
    }

    .email,
    .phone,
    .full-name,
    .address,
    .city,
    .country,
    .postal-code {
        width: 95%;
    }

    .get,
    .code {
        width: 45%;
    }

    .get .country,
    .code .postal-code {
        width: 90%;
    }

    .state input {
        width: 76%;
    }

    .continue {
        width: 86%;
    }
}

@media only screen and (max-width: 769px) {
    body {
        width: auto;
        margin: 10px 30px;
    }

    .products {
        width: 60%;
    }

    form {
        padding-bottom: 10px;
    }

    .information {
        padding-bottom: 10px;
    }

    .email,
    .phone,
    .full-name,
    .address,
    .city,
    .country,
    .postal-code {
        width: 90%;
    }

    .get,
    .code {
        width: 50%;
    }

    .get .country,
    .code .postal-code {
        width: 70%;
    }

    .save {
        padding-top: 20px;
    }

    .state input {
        width: 70%;
    }

    .continue {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 376px) {
    body {
        width: auto;
        margin: 10px 15px;
    }

    .ecommerce {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }

    .products {
        width: 100%;
    }

    .shipping {
        width: 100%;
        padding-top: 20px;

    }

    .get .country,
    .code .postal-code {
        width: 80%;
    }

    .email,
    .phone,
    .full-name,
    .address,
    .city,
    .country,
    .postal-code {
        width: 100%;
    }

    .state input {
        width: 78%;
    }

    .continue {
        padding-top: 20px;
        width: 100%;
    }

    .get,
    .code {
        width: 50%;
    }

}